[submodule "thirdparty/tiny-process-library"]
	path = thirdparty/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
